# IDE caches

__pycache__/
.ipynb_checkpoints/

# other py files

toy_data_generator.py

# all ipynb files

Chest_X-Ray_Pneumonia.ipynb
Cats_vs_dogs_Petfinder_MS-Research_Kaggle.ipynb
COVID-19_Chest_X-Ray.ipynb
Cats_vs_NotCat.ipynb
US_Adult_Income.ipynb
Toy_Dataset_vs_Artificial_Neuron.ipynb
Breast_Cancer_Wisconsin.ipynb

# large datasets (over 500 mb)

datasets/chest-xray-pneumonia/

# other directories
neural_network_demonstration/
junk_dump/
saved_models/
datasets/covid-chestxray-dataset-0.1/