# IDE caches

__pycache__/
.ipynb_checkpoints/

# other py files

toy_data_generator.py

# ignored ipynb files.

Cats_vs_dogs_Petfinder_MS-Research_Kaggle.ipynb
COVID-19_Chest_X-Ray.ipynb
Cats_vs_NotCat.ipynb

# manual ipynb files.

## US_Adult_Income.ipynb
## Chest_X-Ray_Pneumonia.ipynb
## Toy_Dataset_vs_Artificial_Neuron.ipynb
## Breast_Cancer_Wisconsin.ipynb

# large datasets (over 500 mb)

datasets/chest-xray-pneumonia/

# other directories
junk_dump/
saved_models/
datasets/covid-chestxray-dataset-0.1/